<div class="bg-gray-50 bg-gray-900">
  <div class="profile-container">
    <div class=" flex gap-2 mx-auto text-white mt-10">
      <span routerLink="/" class="cursor-pointer  hover:text-blue-400">home</span>
      <span class="cursor-pointer  hover:text-blue-400" (click)="viewPage = 0">settings</span>
      @if (user.roles === 'admin') {
      <span class="cursor-pointer hover:text-blue-400" (click)="viewPage = 1">users</span>
      }
    </div>

    @if (viewPage === 0) {
    <div class="profile-card">
      <div class="profile-header reletive">
        <img [src]="preview || (user.avatar? baseApi +  user.avatar :'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s' ) 
            
          " alt="User Avatar" class="avatar" />
        @if (isEditing) {<fa-icon (click)="AvatarClick()"
          class="text-blue-500 !texr-xs absolute right-28 bottom-12 border bg-white py-1 px-1 rounded-full cursor-pointer"
          [icon]="faPen" />}
        <input type="file" #fileInput hidden accept="images/*" (change)="selectedFile($event)">

        <h2>{{ user.name }}</h2>
        <p class="role">
          {{ user.roles }} @if(!isEditing){<fa-icon (click)="editUser()" class="text-blue-500 cursor-pointer"
            [icon]="faPen" />}
        </p>
      </div>

      <div class="profile-body">
        <div class="form-group">
          <label>Full Name</label>
          <input pInputText type="text" [disabled]="!isEditing" [(ngModel)]="user.name" />
        </div>

        <div class="form-group">
          <label>Email</label>
          <input pInputText type="email" [disabled]="!isEditing" [(ngModel)]="user.email" />
        </div>

        <div class="form-group">
          <label>Role</label>
          <input pInputText type="text" disabled [(ngModel)]="user.roles" />
        </div>
        @if (isEditing) {
        <button pButton type="button" (click)="saveChanges()" class="w-full !text-white">{{isLoading? 'Loading...' :
          'Save Changes'}}</button>
        }
      </div>
    </div>
    }
    @if (viewPage === 1 && user.roles === 'admin') {
    <div>
      <app-user-table (deleteUser)="deleteUser($event)" (editUser)="updateUser($event)" [users]="users" />
    </div>
    }
  </div>
</div>