<div class="bg-gray-900 h-full  w-full p-4">
<p-toast/>
    <app-expenses-nav (showCategory)="showCategory()" (showExpensesItems)="showExpensesItems()" (showExpenses)="showExpenses()"   />
  @if (viewCategories){
    <app-category-dialog [isLoading]="isLoadingCategories" [visible]="viewCategories" (closeDialog)="closeCategory()" (create)="createCategory($event)" />
  }
  @if (viewExpenseItems) {
    <app-items-dialog [isLoading]="isLoadingExpensesItems" [categories]="Categories" [visible]="viewExpenseItems" (closeDialog)="closeItems()" (create)="createExpenseItem($event)" />
  }
  @if (viewExpenses) {
    <app-expense [expenseItems]="ExpenseItems" [visible]="viewExpenses" (closeDialog)="closeExpense()" (create)="createExpense($event)" />
  }

  <div class="w-[80%] mx-auto mt-10"   >
    <app-expense-table [expenses]="ExpensesDate" />
  </div>
</div>
