<div class="bg-gray-50 bg-gray-900">
  <div class="md:h-screen flex flex-col w-full">
    <app-navbar (profil)="gotoProfil()" (logout)="logout()" />
    <div class="flex flex-col justify-between h-full">
      <div class="flex flex-col px-6 py-8 lg:py-0">
        <div class="text-white flex items-center justify-end mb-4">
          <button (click)="openCreateDialog()"
            class="border px-3 py-1 flex items-center gap-1 rounded-md cursor-pointer font-bold">
            <fa-icon [icon]="faAdd" />Create
          </button>
        </div>
        <div class="w-full  rounded-lg shadow dark:border bg-gray-800 p-6">
          @if (isLoading) {
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            @for (i of [1, 2, 3, 4]; track i) {
            <div class="h-[130px] rounded-xl bg-white animate-pulse p-4">
              <div class="h-6 bg-gray-700 rounded w-3/4 mb-3"></div>
              <div class="h-4 bg-gray-700 rounded w-full mb-2"></div>
              <div class="h-4 bg-gray-700 rounded w-5/6 mb-4"></div>

              <div class="flex justify-between items-center mt-auto">
                <div class="h-4 bg-gray-700 rounded w-16"></div>
                <div class="h-4 bg-gray-700 rounded w-10"></div>
              </div>
            </div>  
            }
          </div>

          } @else if (pagingDate.total === 0) {
          <div class="flex items-center justify-center gap-2 text-xl text-white">
            <fa-icon [icon]="faSearch" />
            <span>Hech narsa topilmadi.</span>
          </div>
          }
          @else {
          <app-todo-card (edit)="findOne($event)" (delete)="deleteTodo($event)" [todos]="pagingDate" [users]="users">
          </app-todo-card>
          }
        </div>
      </div>
      @if (pagingDate.total > 9) {
      <app-paging (changePage)="changePage($event)"
        [pagin]="{ totalPage: totalPage, currentPage: paging.page }"></app-paging>
      }

    </div>
  </div>
</div>
@if (showDialog) {
<app-dialog [isLoadingMail]="isLoadingMail" [isEditing]="isEditing" [editDate]="findOneDate"
  (sendLink)="sendLinkEmail()" (editTodo)="submitEdit($event)" (closeDialog)="closeDialog()"
  (addTodo)="createTodo($event)"></app-dialog>
} @if (confirmDialog) {
<app-confirm-dialog />
}

<p-toast />