<p-dialog
  header="Create Item"
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '400px'}">

  <div class=" flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="category">Category</label>
      <p-select [ngModel]="value"     [options]="cities" optionLabel="name" appendTo="body"   placeholder="City" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="name">Item Name</label>
      <input id="name" type="text" placeholder="add new Items" pInputText />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton label="Cancel" class="p-button-text"></button>
    <button pButton label="Create" class="p-button-primary"></button>
  </ng-template>
</p-dialog>
