<div class="w-[90%] p-2 mx-auto flex justify-between item-center " >
  <div class="flex gap-2 item-center">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-home"
      text
      rounded
      severity="secondary"
      (click)="gotoHome()"
    >home</button>
    <p-button (click)="Category()"  label="add Catigory" icon="pi pi-plus" variant="outlined" severity="secondary" />
    <p-button (click)="ExpensesItems()" label="add Item" icon="pi pi-plus" variant="outlined" severity="secondary" />
  </div>
    <p-button (click)="Expenses()" label="add expenses" icon="pi pi-plus" variant="outlined" severity="secondary" />
</div>
