
.activated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #28a745;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: white;
}

