<div class=" bg-gray-50 bg-gray-900 activated-container">
  @if (!isLoading) {
  <div>
    @if (activate) {
    <h1>✅ Account Activated!</h1>
    <p>Your account has been successfully activated. You can now log in and start using the platform.</p>
    } @else{
    <h1>❌ Account Not Activated</h1>
    <p>Your activation link is invalid or has expired. Please try again or request a new one.</p>
    }
    <p-button routerLink="/login" class="btn !text-white">Go to Login</p-button>
  </div>
  } @else {
  <h1>Loading...</h1>
  }
</div>